/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  /*  CSS snippet for importing web font formats  */

  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}



/*************************************
GENERAL
*************************************/

body {
  font-family: 'Helvetica', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#presenting {

  background: url('../CR19.jpeg') no-repeat center;
  width: 100%;
  display: block;
  clear: both;
  margin: 0 auto;
  box-shadow: 0px -10px 10px 20px rgba (0 , 0, 0, .8);
}

#presenting img {
  margin:auto;
}

a {
 text-decoration:none; 
}

img {
 max-width: 100%;
 margin: 0 auto;
 
}



/*************************************
HEADING
*************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  height: 850px;
  padding: 5px 0 0 0;
  width: 100%;
  background: linear-gradient(#ffff1a, transparent 90%),
              linear-gradient(to top, #fff, transparent),
              url('../Calendar/img/IMG_6577.jpg') no-repeat center;
}

#logo {
  text-align: center;
  margin:0;
}

h1 {
  font-family:'Abolition Regular', sans-serif;
  margin: 200px 0 0 0;
  font-size: 5.625rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.3em;
}

h2 {
  font-family: 'Abolition Regular', sans-serif;
  font-size: 3.3125em;
  margin: -5px 0 0;
  line-height: 1.1;
  font-weight: normal;
  border-top: 2px, solid;
}



/*************************************
NAVIGATION
*************************************/
nav {
text-align: center;
padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
   display: inline-block;
}

nav a {
  font-family:'Helvetica', sans-serif;
  font-weight: 700;
  padding: 15px 10px;
}

/*************************************
FOOTER
*************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color:#ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*************************************
COLORS
*************************************/

/* site body */
body {
 background-color:#fff;
 color: #999;
}

/* green header */
/*header {
  background: #57A1A1;
  border-color: #599a68;
}*/

/* nav background on mobile devices */
nav {
background: rgba(85, 85, 85, .4);
}

/* logo text*/
h1, h2 {
  color: #999;
}

/* links */
a {
 color: #6ab47b; 
}

/*nav link*/
nav a, nav a:visited {
color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
color: #999;
}

/* paragraphs */
p {
 color: #999;
}
