/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Review Assignment

   Jumbo Popcorn Style Sheet

   Author: Austin Cowan          
   Date: 11/13/2016            

   Filename:         embed.css
   Supporting Files: 

*/

/*AUDIO/VIDEO STYLES*/

audio, video {
   display: block;
   width: 90%;
   margin: 5px auto;
}

object {
   display: block;
   margin: 5px auto;
}
