/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Austin Cowan
   Date: 11/05/2016  

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


