/******************
COLORS
******************/
body{background-color:#008AC2;}
header{background-color:#3AAFDE;}
nav{}
nav a, nav a:visited{color:#008AC2;}
nav a.selected, nav a:hover {color:#FFFFFF;}
p{background-color:#75D8FF;}
