/*
   New Perspectives on HTML
   Tutorial 3
   Review Assignment

   Sunny Acres Text and Color Styles
   Author:Austin Cowan 
   Date:10/16/2016   

   Filename:         hs_styles.css
   Supporting Files: CloisterBlack.eot, CloisterBlack.svg,
                     CloisterBlack.ttf, CloisterBlack.woff

*/

@font-face {
	font-family: 'CloisterBlack';
	src: url('CloisterBlack.eot');
	src: local('☺'), 
        	url('CloisterBlack.woff') format('woff'), 
        	url('CloisterBlack.ttf') format('truetype'), 
        	url('CloisterBlack.svg#cloister') format('svg');
}

body {
	background-color: white;
      	font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';	
}

/*----------NAV----------*/

nav ul {
	background-color: rgb(248, 175, 175);
	line-height: 3.5em;
	list-style: none;
	padding-left: 0px;
	text-indent: 5px;
}

#first {
	font-size: 150%;
	font-variant-caps: small-caps;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	background-color: rgb(148, 51, 62);
	color: yellow;
}

/*----------FIGURE----------*/


section figure {
	background-color: rgb(248, 175, 175);
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

/*----------SECTION----------*/


section h1 {
	background-color: rgb(148, 51, 62);
	color: white;
	font-family: 'CloisterBlack', 'fantasy', 'sans-serif';
        font-size: 2.5em;
	font-weight: normal;
	letter-spacing: 0.3em;
	line-height: 2em;
	text-indent: 5px;
}

section h2 {
	background-color: rgb(182, 134, 52);
	color: white;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
	letter-spacing: 0.7em;
	text-indent: 1em;
}

section ul {
	list-style-image: url(flake.png);
}

/*----------FOOTER----------*/


footer address {
	background-color: rgb(148, 51, 62);
	color: white;
	color: rgba(255, 255, 255, 0.8);
	font-style: normal;
	font-variant-caps: small-caps;
	font-size: 0.8em;
	line-height: 4em;
	font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
	text-align: center;
}
